@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: center;
  }

  #page-home main {
    align-items: center;
  }
}

@media (min-width: 1440px) {
  #page-home {
    background-position-x: 45vw;
  }
}

@media (max-width: 1000px) {
  #page-search-results .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #page-search-results .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-height: 768px) {
  #page-home {
    background-position-y: 200px;
  }
}

@media (max-width: 425px) {
  #page-create-point header a {
    font-size: 0;
  }

  #page-create-point header a span {
    margin-right: 0;
  }

  #page-search-results header a {
    font-size: 0;
  }

  #page-search-results header a span {
    margin-right: 0;
  }
}
